body {
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f4; /* لون خلفية الصفحة */
}

.container {
  width: 80%;
  margin: auto;
  background-color: rgba(255, 255, 255, 0.9); /* خلفية بيضاء شفافة */
  padding: 20px;
  border-radius: 10px; /* حواف مدورة */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* ظل خفيف */
}

h2 {
  text-align: center;
  color: #333; /* لون النص */
}

form {
  margin-bottom: 20px;
  background-color: rgba(255, 255, 255, 0.8); /* خلفية شفافة للنموذج */
  padding: 20px;
  border-radius: 10px; /* حواف مدورة */
}

input, button {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd; /* حدود رمادية فاتحة */
  border-radius: 5px; /* حواف مدورة */
}

button {
  background-color: #5cb85c; /* لون خلفية الزر */
  color: white; /* لون نص الزر */
  border: none; /* إزالة الحدود */
  cursor: pointer; /* تغيير شكل المؤشر */
}

button:hover {
  background-color: #4cae4c; /* تغيير لون الزر عند التأشير */
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px; /* مسافة فوق الجدول */
}

th, td {
  border: 1px solid #ddd; /* حدود رمادية فاتحة */
  padding: 10px;
  text-align: left;
}

th {
  background-color: #f2f2f2; /* خلفية العنوان */
}

tr:nth-child(even) {
  background-color: #fafafa; /* خلفية الصفوف الزوجية */
}

tr:hover {
  background-color: #f1f1f1; /* تغيير الخلفية عند التأشير */
}